body{
    margin: 0px;
    padding: 0px;
}
.title{
    width: 53px;
    height: 23px;
    font-family: 'Cardo', serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.02px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    color: black;
}
.header-title{
    margin-top: -42px;
    margin-left: 20px;
}
.a-title{
    margin-top: 16px;
    margin-left: -20px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.header-main{
    background-image: url(img/background/header-main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 57px;
}
.header-main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
}
.header-main-title{
    width: 807px;
    height: 77px;
    font-family: 'Roboto', sans-serif;
    font-size: 26.89px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: white;
}
.header-main-button{
    font-family: 'Cardo', serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    width: 204px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid #FFFFFF;
}
.header-footer-button{
    width: 294px;
    height: 50px;
    font-family: Palatino Linotype;
    font-size: 14.2px;
    font-weight: 400;
    line-height: 20.24px;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 3px;
    margin-left: 20px;
    border: 1px solid black;
}
.icon-text{
    width: 86px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 550;
    line-height: 23.8px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-left: 30px;
    margin-top: -8px;
}
.icons{
    display: flex;
    margin-top: 65px;
    justify-content: center;
}
.icon-and-text{
    display: flex;
    margin-left: 88px;
}
.icon-1{
    width: 60px;
    height: 30px;
}
.icon-2{
    width: 50px;
    height: 49px;
}
.icon-3{
    width: 34px;
    height: 42px;
}
.icon-4{
    width: 47px;
    height: 47px;
}
.reviews{
    width: 95px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 550;
    line-height: 23.8px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-left: 191px;
    margin-top: -0px;
}
.furniture{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.furniture-1{
    width: 338px;
    height: 298px;
}
.icon-text-3{
    width: 86px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 550;
    line-height: 23.8px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-left: 30px;
    margin-top: -0px;
}
.icon-text-4{
    width: 86px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 550;
    line-height: 23.8px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-left: 30px;
    margin-top: -0px;
}
.cloe{
    margin-top: 163px;
    display: flex;
    justify-content: flex-end;
}
.cloe-title{
    width: 67px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 56px;
    text-align: right;
    margin-left: 120px;
}
.cloe-under-title{
    width: 192px;
    height: 38px;
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 37.14px;
    text-align: right;
    margin-right: 48px;
    margin-top: -35px;
}
.cloe-content{
    margin-top: 40px;
}
.cloe-price-list{
    display: flex;
    margin-left: 107px;
    margin-top: -15px;
}
.cloe-from{
    width: 40px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: right;
}
.cloe-dollar{
    width: 8px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: right;
}
.cloe-price{
    width: 36px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: right;
}
.cloe-txt{
    width: 437px;
    height: 92px;
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    text-align: right;
    color: #525252;
}
.img-cloe{
    width: 910px;
    height: 542px;
}
.cloe-text{
    margin-right: 22px;
}
.cloe-1-part{
    margin-left: 219px;
}
.cloe-shop{
    width: 75px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: black;
    margin-left: 335px;
    position: relative;
    top: 66px;
}
.pelican{
    margin-top: 29px;
    display: flex;
    justify-content: flex-start;
}
.pelican-title{
    width: 101px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    margin-left: 50px;
}
.pelican-under-title{
    width: 208px;
    height: 38px;
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 37.14px;
    text-align: left;
    margin-left: 50px;
    margin-top: -30px;
}
.pelican-content{
    margin-top: 96px;
}
.pelican-price-list{
    display: flex;
    margin-left: 50px;
    margin-top: -15px;
}
.pelican-from{
    width: 40px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: left;
}
.pelican-dollar{
    width: 8px;
    height: 28px;
    font-family: Cardo;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: left;
}
.pelican-price{
    width: 16px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: left;
}
.pelican-txt{
    width: 384px;
    height: 92px;
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    text-align: left;
    color: #54595F;
    margin-left: 50px;
}
.img-pelican{
    width: 915px;
    height: 542px;
}
.pelican-menu{
    width: 186px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    color: #54595F;
    margin-left: 50px;
}
.pelican-shop{
    width: 75px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: black;
    margin-left: 50px;
    position: relative;
    top: 47px;
}
.alada-title-red{
    width: 132px;
    height: 30px;
    font-family: 'Cardo', serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 29.71px;
    text-align: right;
    color: #BC1414;
    margin-left: 300px;
}
.alada{
    margin-top: 29px;
    display: flex;
    justify-content: flex-end;
}
.alada-colors{
    width: 120px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: right;
    color: #54595F;
    margin-left: 315px;
}
.alada-under-title{
    width: 192px;
    height: 38px;
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 37.14px;
    text-align: right;
    margin-right: 48px;
    margin-top: -35px;
    margin-left: 20px;
}
.alada-title{
    width: 67px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 56px;
    text-align: right;
    margin-left: 125px;
}
.alada-txt{
    width: 437px;
    height: 92px;
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    text-align: right;
    color: #525252;
    
}
.alada-shop{
    width: 75px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: black;
    margin-left: 360px;
    position: relative;
    top: 40px;
}
.alada-from{
    width: 40px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: right;
}
.alada-price{
    width: 36px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: right;
    margin-left: 5px;
}
.alada-price-list{
    display: flex;
    margin-left: 130px;
}
.alba-title{
    display: flex;
}
.alba-title-1{
    width: 101px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    position: relative;
    right: 30px;
}
.alba-under-title{
    width: 208px;
    height: 38px;
    font-family: 'Cardo', serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 37.14px;
    text-align: left;
    margin-left: 50px;
    margin-top: -30px;
}
.alba-menu{
    width: 186px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    color: #54595F;
    margin-left: 50px;
}
.alba-menu-display{
    display: flex;
}
.alba-menu-2{
    width: 186px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    color: #54595F;
    position: relative;
    right: 65px;
}
.alba-shop{
    width: 75px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: black;
    margin-left: 50px;
    position: relative;
    top: -10px;
}
.alba-logos{
    position: relative;
    top: 100px;
    right: 85px;
}
.alba-content{
    margin-top: 6px;
}
.batea{
    margin-top: 29px;
    display: flex;
    justify-content: flex-end;
}
.batea-title{
    display: flex;
    position: relative;
    right: 140px;
}
.batea-title-1{
    width: 67px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 56px;
    text-align: right;
    margin-left: 100px;
}
.batea-title-2{
    width: 67px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 56px;
    text-align: right;
    position: relative;
    left: 30px;
}
.batea-under-title{
    width: 192px;
    height: 38px;
    font-family: 'Cardo', serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 37.14px;
    text-align: right;
    margin-right: 48px;
    margin-top: -35px;
}
.batea-colors{
    width: 120px;
    height: 28px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: right;
    color: #54595F;
    margin-left: 315px;
    position: relative;
    top: 20px;
}
.main-footer{
    margin-top: 41px;
}
.main-footer-title{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.main-footer-title-text{
    width: 404px;
    height: 39px;
    font-family: 'Cardo', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    color: #3A3A3A;
}
.main-footer-title-under-text{
    width: 497px;
    height: 34px;
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.43px;
    text-align: center;
    margin-top: -24px;
}
.insta-image{
    width: 367px;
    height: 550px;
    margin-left: 29px;
}
.insta{
    display: flex;
    margin-top: 37px;
    justify-content: center;
}
.square{
    width: 9px;
    height: 9px;
    background-color: #000000;
    margin-left: 5px;
}
.squares{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.woodendot-txt{
    width: 1190px;
    height: 60px;
    font-family: 'Cardo', serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.about-woodendot{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-top: 136px;
}
.author{
    width: 176px;
    height: 21px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 37px;
}
.square-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    justify-content: center;
    margin-top: 53px;
}
.square-2{
    background-color: black;
}
.square-2:nth-child(1) {
    width: 10px;
    height: 10px;
    top: -0.33px;
    left: 660px;
    gap: 0px;
    opacity: 0px;
} 
.square-2:nth-child(2) {
    width: 7px;
    height: 7px;
    top: 1.67px;
    left: 677px;
    gap: 0px;
    opacity: 0px;
}
.square-2:nth-child(3) {
    width: 3px;
    height: 3px;
    top: 3.67px;
    left: 693px;
    gap: 0px;
    opacity: 0px;
}
  
.square-2:nth-child(4) {
    width: 3px;
    height: 3px;
} 
.square-2:nth-child(5) {
    width: 3px;
    height: 3px;
    top: 3.67px;
    left: 723px;
    gap: 0px;
    opacity: 0px;
}
.square-2:nth-child(6) {
    width: 3px;
    height: 3px;
    top: 3.67px;
    left: 738px;
    gap: 0px;
    opacity: 0px;
}
.square-2:nth-child(7) {
    width: 3px;
    height: 3px;
    top: 3.67px;
    left: 753px;
    gap: 0px;
    opacity: 0px;
}
.main-footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-left: 200px;
}
.main-footer-icon-1-title{
    width: 96px;
    height: 35px;
    top: -0.52px;
    left: 114px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Cardo', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-left: 10px;
}
.main-footer-icon{
    width: 360px;
    height: 370px;
}
.main-footer-icon-1-text{
    width: 283px;
    height: 56px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27.86px;
    text-align: center;
    position: relative;
    right: 80px;
}
.main-footer-icon-1-article{
    width: 77px;
    height: 15px;
    font-family: 'Cardo', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #000000;
    margin-left: 20px;
}
.main-footer-icon-1-title-2{
    width: 96px;
    height: 35px;
    top: -0.52px;
    left: 114px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Cardo', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}
.main-footer-logos-title{
    width: 298px;
    height: 26px;
    font-family: 'Cardo', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    margin-top: 133.48px;
    color: #454545;
}
.main-footer-logos-div{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.main-footer-logos{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}